[submodule "cfg/libui"]
	path = cfg/libui
	url = https://github.com/andlabs/libui.git
[submodule "cfg/libserialport"]
	path = cfg/libserialport
	url = git://sigrok.org/libserialport
[submodule "cfg/zlib"]
	path = cfg/zlib
	url = https://github.com/madler/zlib.git
	branch = master
